ME            = .
RANDFILE        = $ENV::HOME/.rnd

####################################################################
[ req ]
default_bits        = 2048
default_keyfile     = serverkey.pem
distinguished_name  = server_distinguished_name
req_extensions      = server_req_extensions
string_mask         = utf8only

####################################################################
[ server_distinguished_name ]
countryName         = Country Name (2 letter code)
countryName_default     = US

stateOrProvinceName     = State or Province Name (full name)
stateOrProvinceName_default = FL

localityName            = Locality Name (eg, city)
localityName_default        = Gainesville

rganizationName         = Organization Name (eg, company)
organizationName_default    = 1 Degree Technologies LLC

commonName          = Common Name (e.g. server FQDN or YOUR name)
commonName_default      = AlleyOop CA

emailAddress            = Email Address
emailAddress_default        = support@1degreetech.com

####################################################################
[ server_req_extensions ]

subjectKeyIdentifier        = hash
basicConstraints        = CA:FALSE
keyUsage            = digitalSignature, keyEncipherment, dataEncipherment
subjectAltName          = @alternate_names
nsComment           = "OpenSSL Generated Certificate"

####################################################################
[ alternate_names ]

DNS.1       = wamresearch.ece.ufl.edu
DNS.2       = wamresearch.ece.ufl.edu:3000
DNS.3       = mail.wamresearch.ece.ufl.edu
DNS.4       = ftp.wamresearch.ece.ufl.edu

